/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap')

/*Asterisk wildcard to override default style*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*General styles*/
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: rgb(52, 8, 8);
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: rgb(4, 4, 126);
  color: #ffffff;
  text-align: center;
  width: 100%;
}

.nav-bar{
  background-color: rgb(4, 4, 126);
}

.menu {
  list-style-type: none;
  background-color: rgb(4, 4, 126);
  color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 1em;
}

.menu li {
  margin: 0 1em;
  color: #ffffff;
  text-align: center;
}

.active {
  border-bottom: 1px solid;
}

h1 {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  font-family: 'Roboto Slab', serif;
  letter-spacing: 2px;
}

.home-photo {
  max-width: 50%;
}

#intro {
  border: 2px solid rgb(4, 4, 126);
}

main {
  background-color: blanchedalmond;
  flex: 1 0 auto;
  color: rgb(52, 8, 8);
}

.video{
  display: flex;
  width: 40%;
  height: 300px;
  justify-self: center;
}

/*Timeline settings*/
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(4, 4, 126);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 40%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: blanchedalmond;
  border: 4px solid rgb(4, 4, 126);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgb(4, 4, 126);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgb(4, 4, 126);
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(4, 4, 126);
  border-width: 10px 10px 10px 0;
  border-color: transparent rgb(4, 4, 126) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: blanchedalmond;
  position: relative;
  border-radius: 6px;
}
/*Gallery page*/
#photos img{
  width: 70%;
  max-width: 700px;
}

#photos{
  line-height: 0;
}

footer {
  background-color: rgb(4, 4, 126);
}

#socials {
  font-size: 160%;
  padding: 5%;
  color: blanchedalmond;
  display: inline;
  text-align: center;
}

.fa-brands{
  color: #ffffff;
  display: inline;
}

/* Media queries - screens less than 600px wide */
@media screen and (max-width: 600px) {
#photos{
  column-count: 2;
  column-gap: 0;
}
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}
